# 5. Sets in Python


 * __Set__ is one of the 4 built-in data types in Python used to store collections of data including List, Tuple and Dictionary.
 * __Set__ are unordered, but you can remove items and add new items.
 * __Set__ elements are unique. Duplicate elements are not allowed.
 * A __set__ itself may be modified, but the elements contained in the set must be of an immutable type.
 * __Sets__ are used to store multiple items in a singles variable.
 * You can denote a set with a pair of curly brackets __{}__.

In [6]:
x = {}
print(x)
print(type(x))

{}
<class 'dict'>

In [8]:
y = set()
print(y)
print(type(y))

set()
<class 'set'>

In [9]:
# Take a set


set1={'Hello Python!',3.14,1.618,'Hello World',3.14,1.618,True,False,2023}
print(set1)

{False, 1.618, True, 3.14, 2023, 'Hello Python!', 'Hello World'}

In [11]:
# A list can convert to a set

# Take a list

list1=['Hello Python!',3.14,1.618,'Hello World',3.14,1.618,True,False,2023]
print(list1)

# Convert the list to a set

set2=set(list1)
print(set2)

['Hello Python!', 3.14, 1.618, 'Hello World', 3.14, 1.618, True, False, 2023]
{False, 1.618, True, 3.14, 2023, 'Hello World', 'Hello Python!'}

# Set Oprations

__add() function__

 * To __add__ and element into a set, we use the function __add()__. If the same element is added to the set, nothing will happen because the set accepts no duplicates.

In [12]:
set3={'Hello Python!', 3.14, 1.618, 'Hello World', 3.14, 1.618, True, False, 2023}
print(set3)

{False, 1.618, True, 3.14, 2023, 'Hello Python!', 'Hello World'}

In [13]:
set3.add('Hi, Python')
set3

{1.618, 2023, 3.14, False, 'Hello Python!', 'Hello World', 'Hi, Python', True}

In [14]:
set3.add('Vivek')
set3

{1.618,
 2023,
 3.14,
 False,
 'Hello Python!',
 'Hello World',
 'Hi, Python',
 True,
 'Vivek'}

In [15]:
set3.add('Vivek')
set3

{1.618,
 2023,
 3.14,
 False,
 'Hello Python!',
 'Hello World',
 'Hi, Python',
 True,
 'Vivek'}

In [16]:
x_set={7,8,9,10}
print(x_set)

{8, 9, 10, 7}

In [17]:
x_set.update({4,5,6})
print(x_set)

{4, 5, 6, 7, 8, 9, 10}

#  remove() function


 * To __remove__ an element from the set

In [18]:
set3

{1.618,
 2023,
 3.14,
 False,
 'Hello Python!',
 'Hello World',
 'Hi, Python',
 True,
 'Vivek'}

In [19]:
set3.remove('Vivek')
set3

{1.618, 2023, 3.14, False, 'Hello Python!', 'Hello World', 'Hi, Python', True}

In [20]:
set4=set(['Hello Python','Hello World'])
set5=set([3.14,1.618,10,20,30])

print(set4)
print(set5)

{'Hello Python', 'Hello World'}
{1.618, 3.14, 10, 20, 30}

In [21]:
# Other method for calling variable.

set4,set5

({'Hello Python', 'Hello World'}, {1.618, 3.14, 10, 20, 30})

# To find the intersect of the two sets using &

In [22]:
set4=set(['Hello Python','Hello World',3.14,1.618,20])
set5=set([3.14,1.618,10,20,30,'Hello Python'])


z = set4&set5
z

{1.618, 20, 3.14, 'Hello Python'}

In [23]:
# other method

set4.intersection(set5)

{1.618, 20, 3.14, 'Hello Python'}

# difference() function

 * To find the difference between two sets.

In [26]:
print(set4.difference(set5))
print(set5.difference(set4))

{'Hello World'}
{10, 30}

In [28]:
# The same process can make using substraction operator as follows:

print(set4-set5)
print(set5-set4)

{'Hello World'}
{10, 30}

# Union() function

 * It corresponds to all the elements in both sets

In [29]:
set4.union(set5)

{1.618, 10, 20, 3.14, 30, 'Hello Python', 'Hello World'}

In [33]:
# Swallow copy
set8={1,3,5,7,9}
print(set8)

set9=set8.copy()
print(set9)

set8.add(11)
print(set8)
print(set9)

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9, 11}
{1, 3, 5, 7, 9}

In [36]:
# Deep copy
set8={1,3,5,7,9}
print(set8)

set9=set8
print(set9)


set8.add(100)
print(set8)
print(set9)

{1, 3, 5, 7, 9}
{1, 3, 5, 7, 9}
{1, 3, 100, 5, 7, 9}
{1, 3, 100, 5, 7, 9}

# clear() function


 * It removes all elements in the set and then do the set empty;

In [37]:
x = {1,2,3,4,5,6,7,8,9}
x

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [38]:
x.clear()
x

set()

In [45]:
y = {1}
y.clear()
print(y)
y.clear()
print(type(y))

set()
<class 'set'>