# 8. Loops in Python

In [2]:
# Take a range() function

print(range(5))
print(range(10))

range(0, 5)
range(0, 10)

In [3]:
years=[2005,2006,2007,2008,2009,2010]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [4]:
for year in years:
    print(year)

2005
2006
2007
2008
2009
2010

In [6]:
#len(years)

for i in range(len(years)):
    print(years[i])

2005
2006
2007
2008
2009
2010

In [7]:
for i in range(2,12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [8]:
for i in range(2,12,3):
    print(i)

2
5
8
11

In [9]:
language=['java','javascript','python','c','c++']

for i in range(len(language)):
    print(i,'is',language[i])

0 is java
1 is javascript
2 is python
3 is c
4 is c++

In [10]:
number1=int(input('Enter a number:\n'))

for i in range(1,11):
    print('%d X %d = %d'%(number1,i,number1*i))

Enter a number:
2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

# for-else statement

In [11]:
for i in range(1,6):
    print(i,end=',')
else:
    print('These are numbers from 1 to 5')

1,2,3,4,5,These are numbers from 1 to 5

# nested for loop

In [13]:
num=int(input('Enter a number:\n'))

i,j=0,0
for i in range(0,num):
    print()
    for j in range(0,i+1):
        print('*',end='')

Enter a number:
10

*
**
***
****
*****
******
*******
********
*********
**********

# continue in for loop

In [14]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

for i in list1:
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10
11
12
13
14

# break in for loop

In [16]:
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]

for i in list1:
    if i==10:
        break
    print(i)

1
2
3
4
5
6
7
8
9

# While loop

In [17]:
# Take an example


i = 20

while i<31:
    print(i)
    i+=1

20
21
22
23
24
25
26
27
28
29
30

In [18]:
i = 22

while i>=17:
    print(i)
    i-=1

22
21
20
19
18
17

In [21]:
num1=int(input('Enter a number:\n'))


i=1
while i<=10:
    print('%d X %d = %d'%(num1,i,num1*i))
    i+=1

Enter a number:
19
19 X 1 = 19
19 X 2 = 38
19 X 3 = 57
19 X 4 = 76
19 X 5 = 95
19 X 6 = 114
19 X 7 = 133
19 X 8 = 152
19 X 9 = 171
19 X 10 = 190

# While-else statement

In [24]:
index=0
while index<=5:
    print(index,end=',')
    index+=1
else:
    print('It gives us the numbers between 0 to 5.')

0,1,2,3,4,5,It gives us the numbers between 0 to 5.

# Continue in while loop

In [25]:
i=0

while i<=10:
    print(i)
    i+=1
    if i==5:
        continue

0
1
2
3
4
5
6
7
8
9
10

# break in while loop

In [27]:
i=0

while i<=10:
    print(i)
    i+=1
    if i==6:
        break

0
1
2
3
4
5